@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Bildirimler</th>
        <th>Tarih</th>

    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.NotificationId</td>
            <td>@item.NotificationDetails</td>
            <td>@item.NotificationDate.ToShortDateString()</td>
        </tr>
    }



</table>

