
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>yazar ajax işlemleri</h1>
<br />
<button type="button" id =btngetlist class="btn btn-outline-primary">yazar listesi</button>
<button type="button" id =btngetbyid class="btn btn-outline-success">yazar getir</button>
<button type="button" id =btnaddwriter class="btn btn-outline-info">yazar ekle</button>
<button type="button" id =btndeletewriter class="btn btn-outline-danger">yazar sil</button>
<button type="button" id =btnupdatewriter class="btn btn-outline-warning">yazar güncelle</button>





<br /><br />
<div id = "writerlist">
    burya yazarlar gelecek
</div>

<div id="writerget">
 buraya bir yazar gelecek
</div>
<div>
    <input type="text" id ="writerid" placeholder="yazar id degerini girin" class="form-control" />
</div>
<br />
<div>
    <input type="text" class="form-control" id = "txtwriterid" placeholder="Yazar Id" />
    <br />
    <input type="text" class="form-control" id = "txtwritername" placeholder="Yazar adı" />
</div>
<br />
<div>
     <input type="text" class="form-control" id = "txtid" placeholder="silinecek yazar Id" />
</div>
<br />
<div>
     <input type="text" class="form-control" id = "txtid1" placeholder="güncellenecek id" />
     <input type="text" class="form-control" id = "txtwritername1" placeholder="güncellenecek isim" />

</div>


@section scripts{
    <script>
        $("#btngetlist").click(function(){
            $.ajax({
                contentType :"application/json",
                dataType: "json",
                type: "Get",
                url:"/Admin/Writer/WriterList/",
                success: function (func){
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let tablehtml = "<table class=table table-bordered> <tr><th>yazar ıd </th><th>yazar adı</th> </tr>" 
                    $.each(w,(index,value)=>{
                        tablehtml += `<tr><td>${value.Id}</td> <td>${value.name}</td></tr>`
                    });        
                       tablehtml+="</table>";
                       $("#writerlist").html(tablehtml);
                }
            });
        });

        $("#btngetbyid").click(x=>{
            let id = $("#writerid").val();

             $.ajax({
                contentType :"application/json",
                dataType: "json",
                type: "get",
                url:"/Admin/Writer/writergetbyid/", 
                data:{writerid : id},
                success:function(func){
                    let w = jQuery.parseJSON(func);
                     console.log(w);
                     let getvalue = `<table class=table table-bordered><tr><th>Yazar Id</th>
                     <th>Yazar adı</th></tr>  <tr><td>${w.Id}</td><td>${w.name}</td></tr></table>`;
                     $("#writerget").html(getvalue);
                }

             });
        });

        $("#btnaddwriter").click(function(){
            let writer = {
                Id: $("#txtwriterid").val(),
                name: $("#txtwritername").val()
            };
            $.ajax({
                type: "post",
                url: "/Admin/Writer/AddWriter/",
                data: writer,
                success: function (func) {
                    let result =jQuery.parseJSON(func);
                    alert("basarılı");
                }
            }); 
        
        });
        $("#btndeletewriter").click(x => {
            let id = $("#txtid").val(); 

            $.ajax({
                url: "/Admin/Writer/DeleteWriter/"+id,
                type:"post",
                dataType:"json",
                success:function(func){
                    alert("silme başarılı");
                }
            });
        });

        $("#btnupdatewriter").click(function(){
            let writer = {
                Id: $("#txtid1").val(),
                name: $("#txtwritername1").val()
            };
            $.ajax({
                type:"post",
                url:"/Admin/Writer/UpdateWriter/",
                data: writer,
                success:function(funk){
                    alert("güncelleme yapıldı");
                }
            });
        });

        

        
    </script>
}
